.hd-top-area{
    padding: 20px 0px;
}
.Hd-tp-search-area{
    display: flex;
}
.seach-input{
    padding: 10px 300px 10px 10px;
}
.headerTop-searchbar{
    width: 250px;
    background-color: black;
    color: antiquewhite;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}
.notification{
    font-size: 45px;
    padding-right: 20px;
}
.cart-icon{
    font-size: 35px;
}
.src-btn1{
    background: transparent;
    text-transform: uppercase;
    padding: 7px 25px;
    background-color:#95a5a6;
    border: none;
    color: white;
    letter-spacing: 8px;
}